*{
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: Arial;
}


/* Navbar */
.navbar{
    height:60px;
    width:100%;
    background-color:black ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    position: sticky;
    top: 0;
    padding: 4px;
}
img{
   height: 55px;
   width: 120px;
   margin-left: -30px;
}


/* location */
.location{
    display: flex;
    align-items: center;
}
.small{
    font-size: 10px;
    color: #cccccc;
    margin-left: 22px;
}
.location i{
    padding-left: 4px;
}
.big{
    font-size: 14px;
    font-weight: 500;
    margin-left: 5px; ;
}


/* search bar */
.search-bar{
    display: flex;
    width: 800px;
    height: 37px;
    background-color: pink;
    border-radius: 4px;
}
.search-select{
    background-color:#f3f3f3 ;
    width:55px;
    text-align: center;
    border-top-left-radius: 4px; 
    border-bottom-left-radius: 4px; 
}
.search-input{
    width: 100%;
    font-size:16px;
    border: none;
    padding-left: 6px; 
}
.search-symbol{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    font-size: 20px;
    background-color: #fedb68;
    opacity: 0.9;
    border-top-right-radius: 4px; 
    border-bottom-right-radius: 4px; 
}


/* sign in */
.signin select{
    margin-left: 4px;
}   
/* country */
.country{
    display: flex;
    align-items:center;
}
.country select{
    margin-left: 4px;
}


/* cart */
.cart{
    display: flex;
}
.cart i{
    font-size: 24px;
}
.cart p{
    font-size: 13px;
    display: flex;
    margin-top: 8px 0 4px 0;
}

/* border */
img:hover{
    border: 1.4px solid white;
    cursor: pointer;
} 
.border:hover{
    border: 1.4px solid white;
    padding: 7px;
    cursor: pointer;
    border-radius: 2px;
}
.weight{
    font-weight: 600;
}



/* second nav */
.list{
   background-color: #232f3e;
   color:white;
   display: flex;
   width: 100%;
   height: 38px;
   align-items: center;
}
.list span{
    padding: 8px;
}
.list p{
    padding: 0 25px;
    font-size: 14px;
}
.list p:hover{
    border: 1.6px solid white;
    padding: 5px 6px;
    cursor: pointer;
}


/*background  */
.bg{
    background-image: url('img/bg.jpg');
    background-size: cover;
    width:100%;
    height:350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}
.bg-msg{
    background-color: #ffffff59;
    color: black;
    border-radius: 1.5px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    width: 75%;
    margin-bottom: 30px;
}
.bg-msg a{
    color: #007185;
}


/* shop section */
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f3f3f3;
    padding-top: 18px;
}
.box{
    width: 23.5%;
    height: 420px;
    background-color: #ffffff;
    padding: 15px 0 25px;
    margin-bottom: 20px;
    border-radius:3px;
}
.box-image{
    height: 350px;
    background-size: cover;
    margin-top: 10px;
    margin-bottom: 10px;
} 

.box-content{
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 10px;
}

h2{
    text-align: center;
}
.link{
    text-align: left;
}



/* footer */

footer{
    padding-top: 20px;
}
.footer1{
    width:100%;
    height: 35px;
    background-color:#007185;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer1 a {
    color: white;
    text-decoration: none;
}
.footer1 a:hover{
    text-decoration: dotted;
}

.footer2{
    width: 100%;
    height: 350px;
    background-color: #222f3d;
    display: flex;
    justify-content: space-evenly;
}
ul{
    display: block;
}
ul p{
    color: white;
    margin-top: 12px;
    font-size: 15px;
}
ul a{
    color: #dddddd;
    display: flex;
    padding-top:10px;
    font-size: 13px;
}

.footer3{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.footer3 img:hover{
    border: none;
}
